.mainDiv{
position: fixed;
left: 50%;
top: 20%;
transform: translate(-50%, -50%);

}

#startButton{
    color: rgb(255, 255, 255);
}

.secondDiv{
    margin-top: 40px;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

#glassLabel{
    color: rgb(255, 255, 255);
}


.thirdDiv{
    margin-top: 60px;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
   
}

#glassCount{
    color: rgb(255, 255, 255);
}

.fourthDiv{
    margin-top: 100px;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

#stopButton{
    color: rgb(255, 255, 255);
}

.fifthDiv{
    margin-top: 140px;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

#aboutPara{
    color: rgb(255, 255, 255);
}

  
body {
    background: url(background.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 180%;
  }

.body{
    background-color: black;
  }
  

